In [2]:
import pandas as pd
import json
import re

In [3]:
train_df = pd.read_csv("data/raw/train.csv")
test_df = pd.read_csv("data/raw/test.csv")

In [7]:
train_df.sample(10)

,text,category
979,Tell me the currencies that you support.,fiat_currency_support
2369,I only got $20 of the $100 that I attempted to...,wrong_amount_of_cash_received
7308,What is this extra fee while I was doing a tra...,transfer_fee_charged
5828,"I have checked my statements multiple times, b...",Refund_not_showing_up
2370,"Hi, I draw out some money from the ATM today. ...",wrong_amount_of_cash_received
2798,where has my transferred money gone?,transfer_not_received_by_recipient
5116,Is there a reason my payments are pending?,pending_card_payment
2907,what cards can i use to add money to my account,supported_cards_and_currencies
2265,Is topping up unlimited?,top_up_limits
5544,I tried to buy something online yesterday and ...,declined_transfer

In [12]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10003 entries, 0 to 10002
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      10003 non-null  object
 1   category  10003 non-null  object
dtypes: object(2)
memory usage: 156.4+ KB