In [14]:
import os
os.getcwd()

'c:\\Users\\Samratmajhi\\Downloads\\User Intent Drift Detection System\\notebooks'

In [15]:
import os
os.chdir("..")
os.getcwd()

'c:\\Users\\Samratmajhi\\Downloads\\User Intent Drift Detection System'

In [16]:
import pandas as pd

In [24]:
df = pd.read_csv("data/raw/online_retail_II.csv")
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [19]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [26]:
df["Country"].value_counts()

Country
United Kingdom          981330
EIRE                     17866
Germany                  17624
France                   14330
Netherlands               5140
Spain                     3811
Switzerland               3189
Belgium                   3123
Portugal                  2620
Australia                 1913
Channel Islands           1664
Italy                     1534
Norway                    1455
Sweden                    1364
Cyprus                    1176
Finland                   1049
Austria                    938
Denmark                    817
Unspecified                756
Greece                     663
Japan                      582
Poland                     535
USA                        535
United Arab Emirates       500
Israel                     371
Hong Kong                  364
Singapore                  346
Malta                      299
Iceland                    253
Canada                     228
Lithuania                  189
RSA                        169
Bahrain                    126
Brazil                      94
Thailand                    76
Korea                       63
European Community          61
Lebanon                     58
West Indies                 54
Bermuda                     34
Nigeria                     32
Czech Republic              30
Saudi Arabia                10
Name: count, dtype: int64

In [20]:
df = df.dropna(subset=["Description", "Customer ID"])
df["Description"] = df["Description"].str.lower()

In [21]:
df["total_value"] = df["Quantity"] * df["Price"]

In [22]:
def assign_intent(row):
    if row["Quantity"] >= 30:
        return "bulk_purchase"
    elif row["total_value"] >= 500:
        return "high_value_purchase"
    elif "christmas" in row["Description"]:
        return "seasonal_purchase"
    elif row["Country"] != "United Kingdom":
        return "international_purchase"
    else:
        return "normal_purchase"

df["intent"] = df.apply(assign_intent, axis=1)

In [23]:
intent_df = df[["Description", "intent"]].rename(
    columns={"Description": "text"}
)

intent_df["intent"].value_counts()

intent
normal_purchase           670010
international_purchase     70771
bulk_purchase              51760
seasonal_purchase          31713
high_value_purchase          110
Name: count, dtype: int64